<div class="container-fluid">
    <!-- <mat-toolbar>Admisión</mat-toolbar> -->
    <div class="titulo">
        Admisión
    </div>
    <div class="row search">
        <div class="col-12 col-lg-8 col-xl-8">
            <mat-form-field appearance="outline">
                <mat-label>Búsqueda</mat-label>
                <input matInput placeholder="Ingrese el número de documento / Apellidos y nombres" autocomplete="off">
            </mat-form-field>
        </div>
        <div class="col-12 col-lg-2 col-xl-2">
            <button class="btn-generic" mat-flat-button color="primary">Nuevo</button>
        </div>
        <div class="col-12 col-lg-2 col-xl-2">
            <button class="btn-generic" mat-flat-button color="primary">Generar HC</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-4 col-xl-4">
            <mat-form-field appearance="outline">
                <mat-label>Tipo de documento</mat-label>
                <select matNativeControl>
                    <option value="volvo">DNI</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
            </mat-form-field>
        </div>
        <div class="col-12 col-lg-4 col-xl-4">
            <mat-form-field appearance="outline">
                <mat-label>Número de Documento</mat-label>
                <input matInput autocomplete="off">
            </mat-form-field>
        </div>
        <div class="col-12 col-lg-4 col-xl-4">
            <mat-form-field appearance="outline">
                <mat-label>Apellidos y Nombres</mat-label>
                <input matInput autocomplete="off">
            </mat-form-field>
        </div>
        <div class="col-12 col-lg-4 col-xl-4">
            <mat-form-field appearance="outline">
                <mat-label>Fecha de nacimiento</mat-label>
                <input matInput autocomplete="off">
            </mat-form-field>
        </div>
        <div class="col-12 col-lg-4 col-xl-4">
            <mat-form-field appearance="outline">
                <mat-label>Edad</mat-label>
                <input matInput autocomplete="off">
            </mat-form-field>
        </div>
        <div class="col-12 col-lg-4 col-xl-4">
            <mat-form-field appearance="outline">
                <mat-label>Historia Clínica</mat-label>
                <input matInput autocomplete="off">
            </mat-form-field>
        </div>
        <div class="col-12 col-lg-4 col-xl-4">
            <mat-form-field appearance="outline">
                <mat-label>Ingreso por</mat-label>
                <select matNativeControl>
                    <option value="volvo">Consulta</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
            </mat-form-field>
        </div>
        <div class="col-12 col-lg-4 col-xl-4">
            <mat-form-field appearance="outline">
                <mat-label>Tipo de paciente</mat-label>
                <select matNativeControl>
                    <option value="volvo">Particular</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
            </mat-form-field>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <mat-tab-group>
                <mat-tab label="Atenciones"> Historial </mat-tab>
                <mat-tab label="Fondo de Solidaridad"> FPS</mat-tab>
            </mat-tab-group>
        </div>
    </div>
    <div class="row section justify-content-end">
        <div class="col-12 col-lg-2 col-xl-2">
            <button class="btn-generic" mat-flat-button color="primary">Guardar</button>
        </div>
        <div class="col-12 col-lg-2 col-xl-2">
            <button class="btn-generic" mat-flat-button color="accent">Cancelar</button>
        </div>
    </div>
    <!-- <div class="div-border">
        <mat-grid-list [cols]="breakpoint" rowHeight="60px" (window:resize)="onResize($event)">            
            <mat-grid-tile>
                <mat-form-field>
                    <mat-label>Número de Documento</mat-label>
                    <input matInput placeholder="Ingrese el número de documento" autocomplete="off">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field>
                    <mat-label>Apellidos y Nombres</mat-label>
                    <input matInput placeholder="Ingrese Apellidos y Nombres" autocomplete="off">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-flat-button color="primary">Nuevo</button>
            </mat-grid-tile>
            
        </mat-grid-list>
    </div>

    <div class="div-border">
        <mat-grid-list [cols]="breakpoint" rowHeight="60px" (window:resize)="onResize($event)">
            <mat-grid-tile>
                <mat-form-field>
                    <mat-label>Nombres y Apellidos</mat-label>
                    <input matInput>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field>
                    <mat-label>Número de Documento</mat-label>
                    <input matInput >
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="btn-search">
                    <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                      <mat-icon>search</mat-icon>
                    </button>
                </div>
            </mat-grid-tile>
            
        </mat-grid-list>
    </div>

    <div class="div-border">
        <mat-grid-list cols="3" rowHeight="60px">
            <div class="item item-1" fxFlex="15%">Item 1</div>
            <div class="item item-2" fxFlex="20%" fxFlexOrder="3">Item 2</div>
            <div class="item item-3" fxFlex>Item 3</div>

            <mat-grid-tile fxFlex="45%">
                <mat-form-field >
                    <mat-label>Nombres y Apellidos</mat-label>
                    <input matInput>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile fxFlex="45%">
                <mat-form-field>
                    <mat-label>Número de Documento</mat-label>
                    <input matInput >
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile fxFlex="10%">
                <div class="example-button-container">
                    <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                      <mat-icon>search</mat-icon>
                    </button>
                  </div>
            </mat-grid-tile>

        </mat-grid-list>
        
    </div>

    <div class="div-border">
        <mat-form-field fxFlex="45%">
            <mat-label>Nombres y Apellidos</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field fxFlex="45%">
            <mat-label>Número de Documento</mat-label>
            <input matInput >
        </mat-form-field>
        <div fxFlex="10%">
            <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
              <mat-icon>search</mat-icon>
            </button>
          </div>
    </div> -->








</div>