<app-sidenav></app-sidenav>
<!--
<div class="example-container">
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
            
            <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
            
            <mat-icon *ngIf="sidenav.opened">menu</mat-icon>
        </button>

        <h1 class="example-app-name">LissaWeb</h1>

        <span class="example-spacer"></span>

        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>account_box</mat-icon>
                <span>Mi Perfil</span>
            </button>

            <button mat-menu-item (click)="sidenav.opened = false">
                <mat-icon>exit_to_app</mat-icon>
                <span>Cerrar Sesión</span>
            </button>
        </mat-menu>

    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav #sidenav style="width: 200px" opened>

            <button mat-menu-item (click)="sidenav.toggle()" style="cursor:pointer" routerLink="/buscar">
                <mat-icon>search</mat-icon>
                <span>Buscar</span>
            </button>

            <mat-divider></mat-divider>

            <button mat-menu-item (click)="sidenav.toggle()" style="cursor:pointer" routerLink="/formafarmaceutica">
                <mat-icon></mat-icon>
                <span>Forma Farmaceutica</span>
            </button> 
            

            <mat-divider></mat-divider>

            <button mat-menu-item (click)="sidenav.toggle()" style="cursor:pointer" routerLink="/consulta">
                <mat-icon>insert_drive_file</mat-icon>
                <span>Registrar</span>
            </button>

            <mat-divider></mat-divider>

            <button mat-menu-item (click)="sidenav.toggle()" style="cursor:pointer" routerLink="/persona">
                <mat-icon>insert_drive_file</mat-icon>
                <span>Registrar Persona</span>
            </button>

            

        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>            
        </mat-sidenav-content>

    </mat-sidenav-container>

</div>
-->